html{
    margin: auto;
    width: 50%;
    
}

.botonPrimario{
    margin: 10px 5px;
}

.pizzaTasty{
    max-height: 30px;
}

.pizzaLabel{
    font-weight: bold;
    font-size: 25pt;
    margin: 15px 5px ;

}

